# Data Science Tools and Ecosystem

In this notebook, data science tools and ecocystems are described and summarised.

__Objectives__

- List data science languages, libraries and tools
- Provide examples of simple code
- Use a lot of markdown

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. caret (R)
2. ggplot (R)
3. seaborn (R)
4. numpy (python)
5. pandas (python)

|Data Science Tools|
|-|
|Tensorflow|
|Apache Spark|
|Apache Hadoop|
|RSTudio|
|Visual Studio Code|
|MatPlotLib|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60.

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Hannes Wiese